.glss {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

nav {
  position: fixed;
}

nav .navbar-brand {
  color: black;
  font-family: 'Great Vibes', cursive;
  font-size: 5vmin;
}

nav .navbar-toggler {
  outline: none;
}

nav .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav .navbar-collapse .navbar-nav .nav-link {
  color: #2d2d2d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 6vmin;
  font-size: 2.2vmin;
  padding: 2vmin 3vmin;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

nav .navbar-collapse .navbar-nav .nav-link:hover {
  background-color: #d90d4f;
  color: white;
}

nav .navbar-collapse .navbar-nav .dropdown-item {
  color: #2d2d2d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2.2vmin;
  padding: 2vmin 3vmin;
  position: relative;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-collapse .navbar-nav .dropdown-item:hover {
  left: 10px;
  background-color: #d90d4f;
  color: white;
}

nav .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

nav .hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #2d2d2d;
  stroke-width: 5.5;
  stroke-linecap: round;
}

nav .ham6 .top {
  stroke-dasharray: 40 172;
}

nav .ham6 .middle {
  stroke-dasharray: 40 111;
}

nav .ham6 .bottom {
  stroke-dasharray: 40 172;
}

nav .ham6.active .top {
  stroke-dashoffset: -132px;
}

nav .ham6.active .middle {
  stroke-dashoffset: -71px;
}

nav .ham6.active .bottom {
  stroke-dashoffset: -132px;
}

@media screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 7vmin !important;
  }
  .nav-link {
    font-size: 3vmin !important;
  }
}

.section1 {
  padding: 15vmin 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../pic/2.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section1 .container .row .glss {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.section1 .container .row .col-md-6 img {
  width: 100%;
  opacity: 0;
}

.section1 .container .row .col-md-6 .intro {
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section1 .container .row .col-md-6 .intro h1 {
  font-weight: 600;
}

.section1 .container .row .col-md-6 .intro p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.section1 .container .row .col-md-6 .intro .more-btn {
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  border: none;
  font-weight: 600;
  padding: 1vmin 3vmin;
  letter-spacing: 5px;
  font-size: 2vmin;
  margin: 5vmin 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1 .container .row .col-md-6 .intro .more-btn a {
  color: white;
  text-decoration: none;
}

.section1 .container .row .col-md-6 .intro .more-btn:hover {
  background-color: #d90d4f;
  padding: 1vmin 5vmin;
}

.section2 {
  padding: 15vmin 0;
}

.section3 {
  font-family: 'Montserrat', sans-serif;
}

.section3 .container-fluid .row .col-md-4 {
  padding: 10vmin 0;
}

.section3 .container-fluid .row .col-md-4 img {
  width: 100%;
}

.section3 .container-fluid .row .col-md-4 h1 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.section3 .container-fluid .row .col-md-4 p {
  font-size: 15px;
}

.section3 .container-fluid .row .first {
  background-color: #606060;
}

.section3 .container-fluid .row .first h1 {
  color: black;
}

.section3 .container-fluid .row .first p {
  color: white;
}

.section3 .container-fluid .row .second {
  background-color: #efefef;
}

.section3 .container-fluid .row .second h1 {
  color: #d90d4f;
}

.section3 .container-fluid .row .second p {
  color: black;
}

.section3 .container-fluid .row .third {
  background-color: #d90d4f;
}

.section3 .container-fluid .row .third h1 {
  color: white;
}

.section3 .container-fluid .row .third p {
  color: black;
}

.section5 {
  padding: 15vmin 0;
  font-family: 'Montserrat', sans-serif;
}

.section5 .container h1 {
  font-weight: 600;
  text-transform: uppercase;
}

.section5 .container .row .col-md-6 .hover-box img {
  width: 100%;
}

.section5 .container .row .col-md-6 p {
  padding: 2vmin 0;
}

@media screen and (max-width: 450px) {
  .intro {
    padding: 25px;
  }
  .section1, .section2 {
    padding: 15vmin 2vmin;
  }
  .section1 {
    background-image: url("https://instagram.fcgp3-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/84980522_535750453813993_3067124462558218224_n.jpg?_nc_ht=instagram.fcgp3-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=EV3MrkuqN5wAX9aHcvJ&tp=1&oh=9f94366735639eef479cea4b2db643f0&oe=602BEDB2");
  }
  .section1 .container .row .col-md-6 img {
    padding-top: 20vmin;
    padding-bottom: 5vmin;
    opacity: 1;
  }
}
/*# sourceMappingURL=about.css.map */