@import "nav.scss";

.section1{
    padding: 15vmin 0;
    font-family: 'Montserrat', sans-serif;
    // height: 100vh;
    background-image: url("../pic/2.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container{
        .row{
            .glss{
                @include glassy;
            }
            .col-md-6{
                img{
                    width: 100%;
                    opacity: 0;
                }
                .intro{
                    color: white;
                    // padding: vmin;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    h1{
                        font-weight: 600;
                    }
                    p{
                        font-family: 'Poppins', sans-serif;
                        font-size: 15px;
                    }
                    .more-btn {
                        color: white;
                        background-color: black;
                        font-family: 'Montserrat', sans-serif;
                        border: none;
                        font-weight: 600;
                        padding: 1vmin 3vmin;
                        letter-spacing: 5px;
                        font-size: 2vmin;
                        margin: 5vmin 0;
                        transition: 0.3s;
                        a{
                            color: white;
                            text-decoration: none;
                        }
                        &:hover{
                            background-color: #d90d4f;
                            padding: 1vmin 5vmin;
                        }
                    }
                }
            }
        }
    }
}

.section2{
    padding: 15vmin 0;
}
.section3{
    font-family: 'Montserrat', sans-serif;
    .container-fluid{
        .row{
            .col-md-4{
                padding: 10vmin 0;
                img{
                    width: 100%;
                }
                h1{
                    font-weight: 600;
                    font-size: 20px;
                    text-transform: uppercase;
                }
                p{
                    font-size: 15px;
                }
            }
            .first{
                background-color: #606060;
                h1{
                    color:black;
                }
                p{
                    color: white;
                }
            }
            .second{
                background-color: #efefef;
                h1{
                    color: #d90d4f;
                }
                p{
                    color: black;
                }
            }
            .third{
                background-color: #d90d4f;
                h1{
                    color:white;
                }
                p{
                    color: black;
                }
            }
        }
    }
}
.section5{
    padding: 15vmin 0;
    font-family: 'Montserrat', sans-serif;
    .container{
        h1{
            font-weight: 600;
            text-transform: uppercase;
        }
        .row{
            .col-md-6{
                .hover-box{
                    img{
                        width: 100%;
                        // height: 15vh;
                    }
                }
                p{
                    padding: 2vmin 0;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .intro{
        padding: 25px;
    }
    .section1, .section2{
        padding: 15vmin 2vmin;
    }
    .section1{
        background-image: url("https://instagram.fcgp3-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/84980522_535750453813993_3067124462558218224_n.jpg?_nc_ht=instagram.fcgp3-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=EV3MrkuqN5wAX9aHcvJ&tp=1&oh=9f94366735639eef479cea4b2db643f0&oe=602BEDB2");
        .container{
            .row{
                .col-md-6{
                    img{
                        padding-top: 20vmin;
                        padding-bottom: 5vmin;
                        opacity: 1;
                    }
                }
            }
        }
    }
  }