.section1 {
  background-image: url("https://instagram.fcgp3-1.fna.fbcdn.net/v/t51.2885-15/e35/81809962_138627357165836_976133959110972511_n.jpg?_nc_ht=instagram.fcgp3-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=Eq40cTB2oE4AX849Wtw&tp=1&oh=25418c49ff9d37d8cb571bdb27c9f704&oe=601A9F35");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.section1 .black-cover {
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  height: 90vh;
  width: 90%;
  position: absolute;
}

.section1 .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section1 .intro h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 700;
}

.section2 {
  padding: 15vmin 0;
  background-image: url("https://i.pinimg.com/originals/13/69/37/1369372b8672cb237c50f14180661fe6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section2 .container .row {
  --bs-gutter-x: 0rem;
}

.section2 .container .row .col-md-4 {
  margin: 10px 0;
}

.section2 .container .row .col-md-4:hover .sec2-link {
  color: #d90d4f;
}

.section2 .container .row .col-md-4 .art-img {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  margin: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.section2 .container .row .col-md-4 .art-img .sec2-link {
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 6vmin;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section2 .container .row .col-md-4 .art-img .sec2-link:hover {
  color: #d90d4f;
}

.section2 .container .row .col-md-4 .art-img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section2 .container .row .col-md-4 .art-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section2 .more-btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section3 {
  padding: 15vmin 0;
}

.section3 .container .row .col-md-6 img {
  width: 60%;
}

.section3 .container .row .col-md-6 .info {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Montserrat', sans-serif;
}

.section3 .container .row .col-md-6 .info h1 {
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .section2 {
    padding: 15vmin 5vmin;
  }
  .section2 .col {
    margin: 0 !important;
  }
  .section2 img {
    width: 100%;
  }
  .section2 .sec2-link {
    font-size: 50px !important;
    position: relative;
  }
  .section2 .more-btn {
    position: relative;
    top: 40px;
  }
}
/*# sourceMappingURL=index.css.map */