// @mixin more-btn {
//     color: white;
//     background-color: black;
//     font-family: 'Montserrat', sans-serif;
//     border: none;
//     font-weight: 600;
//     padding: 1vmin 3vmin;
//     letter-spacing: 5px;
//     font-size: 2vmin;
//     margin: 5vmin 0;
//     transition: 0.3s;
//     a{
//         color: white;
//         text-decoration: none;
//     }
//     &:hover{
//         background-color: #d90d4f;
//         padding: 1vmin 5vmin;
//     }
// }
// section 1
// ===========================================
.section1{
    background-image: url("https://instagram.fcgp3-1.fna.fbcdn.net/v/t51.2885-15/e35/81809962_138627357165836_976133959110972511_n.jpg?_nc_ht=instagram.fcgp3-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=Eq40cTB2oE4AX849Wtw&tp=1&oh=25418c49ff9d37d8cb571bdb27c9f704&oe=601A9F35");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    .black-cover{
        background-color: #000000;
        opacity: 0.8;
        height: 100vh;
        width: 100%;
        position: absolute;
    }
    .intro{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-weight: 700;
        }
    }
}


// section 2
// ===========================================
.section2{
    padding: 15vmin 0;
    .container{
        .row{
            .col-md-4{
                &:hover .sec2-link{
                    color: #d90d4f;

                }
                .sec2-link{
                    color: black;
                    font-family: 'Great Vibes', cursive;
                    font-size: 6vmin;
                    font-weight: bold;
                    // text-decoration: none;
                    transition: 0.3s;
                    &:hover{
                        color: #d90d4f;
                    }
                }
                .art-img{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.3s;
                    overflow: hidden;
                    img{
                        width: 100%;
                        transition: 0.3s;
                    }
                    &:hover img{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    .more-btn{
        // @include more-btn;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
.section3{
    padding: 15vmin 0;
    .container{
        .row{
            .col-md-6{
                img{
                    width: 60%;
                }
                .info{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: 'Montserrat', sans-serif;
                    h1{
                        font-weight: 600;
                    }
                }
                // .more-btn{
                //     @include more-btn;
                // }
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .section2{
        padding: 15vmin 5vmin;
        img{
            width: 100%;
        }
        .sec2-link{
            font-size: 50px !important;
            position: relative;
            top: 40px;
        }
        .more-btn{
            position: relative;
            top: 40px;
        }
    }
}