@import "nav.scss";

.section1{
    background-image: url("https://instagram.fcgp3-1.fna.fbcdn.net/v/t51.2885-15/e35/81809962_138627357165836_976133959110972511_n.jpg?_nc_ht=instagram.fcgp3-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=Eq40cTB2oE4AX849Wtw&tp=1&oh=25418c49ff9d37d8cb571bdb27c9f704&oe=601A9F35");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    .black-cover{
        @include glassy;
        background: rgba(0, 0, 0, 0.3) !important;
        border-radius: 10px;
        height: 90vh;
        width: 90%;
        position: absolute;
    }
    .intro{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-weight: 700;
        }
    }
}


// section 2
// ===========================================
.section2{
    padding: 15vmin 0;
    background-image: url("https://i.pinimg.com/originals/13/69/37/1369372b8672cb237c50f14180661fe6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .container{
        .row{
            --bs-gutter-x: 0rem;
            .col-md-4{
                margin: 10px 0;
                // overflow: hidden;
                &:hover .sec2-link{
                    color: #d90d4f;

                }
                .art-img{
                    @include glassy;
                    // height: 100%;
                    border-radius: 10px;
                    margin: 10px;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.3s;
                    overflow: hidden;
                    .sec2-link{
                        // background-color: red;
                        color: white;
                        font-family: 'Great Vibes', cursive;
                        font-size: 6vmin;
                        font-weight: bold;
                        text-decoration: none;
                        transition: 0.3s;
                        &:hover{
                            color: #d90d4f;
                        }
                    }
                    img{
                        // width: 100%;
                        transition: 0.3s;
                    }
                    &:hover img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .more-btn{
        // @include more-btn;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
.section3{
    padding: 15vmin 0;
    .container{
        .row{
            .col-md-6{
                img{
                    width: 60%;
                }
                .info{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: 'Montserrat', sans-serif;
                    h1{
                        font-weight: 600;
                    }
                }
                // .more-btn{
                //     @include more-btn;
                // }
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .section2{
        padding: 15vmin 5vmin;
        .col{
            margin: 0 !important;
        }
        img{
            width: 100%;
        }
        .sec2-link{
            font-size: 50px !important;
            position: relative;
            // top: 40px; 
        }
        .more-btn{
            position: relative;
            top: 40px;
        }
    }
}