.glss {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

nav {
  position: fixed;
}

nav .navbar-brand {
  color: black;
  font-family: 'Great Vibes', cursive;
  font-size: 5vmin;
}

nav .navbar-toggler {
  outline: none;
}

nav .navbar-toggler:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav .navbar-collapse .navbar-nav .nav-link {
  color: #2d2d2d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 6vmin;
  font-size: 2.2vmin;
  padding: 2vmin 3vmin;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

nav .navbar-collapse .navbar-nav .nav-link:hover {
  background-color: #d90d4f;
  color: white;
}

nav .navbar-collapse .navbar-nav .dropdown-item {
  color: #2d2d2d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2.2vmin;
  padding: 2vmin 3vmin;
  position: relative;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .navbar-collapse .navbar-nav .dropdown-item:hover {
  left: 10px;
  background-color: #d90d4f;
  color: white;
}

nav .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

nav .hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

nav .hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #2d2d2d;
  stroke-width: 5.5;
  stroke-linecap: round;
}

nav .ham6 .top {
  stroke-dasharray: 40 172;
}

nav .ham6 .middle {
  stroke-dasharray: 40 111;
}

nav .ham6 .bottom {
  stroke-dasharray: 40 172;
}

nav .ham6.active .top {
  stroke-dashoffset: -132px;
}

nav .ham6.active .middle {
  stroke-dashoffset: -71px;
}

nav .ham6.active .bottom {
  stroke-dashoffset: -132px;
}

@media screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 7vmin !important;
  }
  .nav-link {
    font-size: 3vmin !important;
  }
}

.section1 {
  background-image: url("https://instagram.fcgp3-1.fna.fbcdn.net/v/t51.2885-15/e35/81809962_138627357165836_976133959110972511_n.jpg?_nc_ht=instagram.fcgp3-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=Eq40cTB2oE4AX849Wtw&tp=1&oh=25418c49ff9d37d8cb571bdb27c9f704&oe=601A9F35");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.section1 .black-cover {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px;
  height: 90vh;
  width: 90%;
  position: absolute;
}

.section1 .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section1 .intro h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 700;
}

.section2 {
  padding: 15vmin 0;
  background-image: url("https://i.pinimg.com/originals/13/69/37/1369372b8672cb237c50f14180661fe6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section2 .container .row {
  --bs-gutter-x: 0rem;
}

.section2 .container .row .col-md-4 {
  margin: 10px 0;
}

.section2 .container .row .col-md-4:hover .sec2-link {
  color: #d90d4f;
}

.section2 .container .row .col-md-4 .art-img {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  margin: 10px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.section2 .container .row .col-md-4 .art-img .sec2-link {
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 6vmin;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section2 .container .row .col-md-4 .art-img .sec2-link:hover {
  color: #d90d4f;
}

.section2 .container .row .col-md-4 .art-img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section2 .container .row .col-md-4 .art-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section2 .more-btn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section3 {
  padding: 15vmin 0;
}

.section3 .container .row .col-md-6 img {
  width: 60%;
}

.section3 .container .row .col-md-6 .info {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Montserrat', sans-serif;
}

.section3 .container .row .col-md-6 .info h1 {
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .section2 {
    padding: 15vmin 5vmin;
  }
  .section2 .col {
    margin: 0 !important;
  }
  .section2 img {
    width: 100%;
  }
  .section2 .sec2-link {
    font-size: 50px !important;
    position: relative;
  }
  .section2 .more-btn {
    position: relative;
    top: 40px;
  }
}
/*# sourceMappingURL=index.css.map */