@import "custom.scss";

.navigation {
  z-index: 1000;
  .navbar {
    .navbar-brand {
      font-family: $font1;
      font-size: 5vmin;
    }
    .navbar-toggler {
      outline: none;
      border: none;
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
    .navbar-collapse {
      .navbar-nav {
        .nav-link {
          font-family: $font2;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
          line-height: 6vmin;
          font-size: 2.2vmin;
          padding: 2vmin 3vmin;
          &:hover {
            background-color: $primary;
            color: $white;
          }
        }
        .dropdown-item {
          font-family: $font2;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 2.2vmin;
          padding: 2vmin 3vmin;
          position: relative;
          left: 0;
          &:hover {
            left: 10px;
            background-color: $primary;
            color: $white;
          }
        }
      }
    }
  }
}

// Footer
// Footer
footer {
  padding: 35px 0px 30px;
  background-color: antiquewhite;
  .container {
    .social-icon {
      i {
        $icon-size: 5vmin;
        font-size: 2.5vmin;
        height: $icon-size;
        width: $icon-size;
        line-height: $icon-size;
        background-color: $dark;
        border-radius: 100%;
        margin: 0 5px;
      }
    }
    .credit {
      font-family: $font2;
      font-size: 2vmin;
      font-weight: 600;
      padding: 2vmin 0;
    }
  }
}

// Humberger
// ==============
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(0.7);
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: $dark;
  stroke-width: 5.5;
  stroke-linecap: round;
  transition: 0.3s;
}
.active .line {
  stroke: $primary;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
