@import "../custom.scss";

section {
  padding: 15vmin 0;
}

// Section1
// =================
.section1 {
  font-family: $font2;
  // height: 100vh;
  background-image: url("https://yaserisrak.netlify.app/pic/2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    .row {
      .glass {
        padding: 5vmin;
        border-radius: 10px;
      }
      .col-md-6 {
        img {
          opacity: 0;
        }
        .intro {
          h1 {
            font-weight: 600;
          }
          p {
            font-family: $font3;
            font-size: 15px;
          }
          .more-btn {
            a {
              text-decoration: none;
            }
            &:hover {
              background-color: $primary;
              padding: 1vmin 5vmin;
            }
          }
        }
      }
    }
  }
}

// section2
// =============

// section3
// =============
.section3 {
  padding: 0;
  font-family: $font2;
  .container-fluid {
    .row {
      .col-md-4 {
        padding: 10vmin 0;
        h1 {
          font-weight: 600;
          font-size: 20px;
          text-transform: uppercase;
        }
        p {
          font-size: 15px;
        }
      }
      .first {
        background-color: #606060;
      }
      .second {
        background-color: #efefef;
      }
    }
  }
}

// section5
// =============
.section5 {
  font-family: $font2;
  .container {
    h1 {
      font-weight: 600;
      text-transform: uppercase;
    }
    .row {
      .col-md-6 {
        p {
          padding: 2vmin 0;
        }
      }
    }
  }
}

// Media Screen
// ==================
@media screen and (max-width: 450px) {
  .intro {
    padding: 25px;
  }
  .section1,
  .section2 {
    padding: 15vmin 2vmin;
  }
  .section1 {
    background-image: url("https://instagram.fcgp3-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/84980522_535750453813993_3067124462558218224_n.jpg?_nc_ht=instagram.fcgp3-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=EV3MrkuqN5wAX9aHcvJ&tp=1&oh=9f94366735639eef479cea4b2db643f0&oe=602BEDB2");
    .container {
      .row {
        .col-md-6 {
          img {
            padding-top: 20vmin;
            padding-bottom: 5vmin;
            opacity: 1;
          }
        }
      }
    }
  }
}
